body {
    background-image: url('../img/img.jpg');
    background-size: cover;
    background-color: #333;
    background-repeat: no-repeat;
}

h1, p{
  color: #111;
}

.welcomeTitle{
  padding-top: 25%
  color: white;
}

.card {
  margin: 1rem;
}
