body {
    background-image: url('../img/img.jpg');
    background-size: cover; /* help with responsive image*/
}

html,
body {
  height: 100%; /*responsive image*/
  background-color: #333;
}

h1, p{
  color: #111;
}

.myForm{
  margin-top: 10%;
}

#login-card{
  width: 450px;
  margin: 200px  auto;
}

#container{
  margin: 25px;
}
